{% extends "index.html" %}

{% block title %}Task Form{% endblock title %}

{% block content %}

<div class="max-w-2xl mx-auto">

    <div class="bg-slate-900 text-white p-8 rounded-xl shadow-lg">

        <h1 class="text-3xl font-bold mb-6">Task Form</h1>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-4">
                <label class="block mb-2">Title</label>
                {{ form.title }}
                {{ form.title.errors }}
            </div>

            <div class="mb-4">
                <label class="block mb-2">Description</label>
                {{ form.description }}
                {{ form.description.errors }}
            </div>

            <div class="mb-4">
                <label class="block mb-2">Project</label>
                {{ form.project }}
                {{ form.project.errors }}
            </div>

            <div class="mb-4">
                <label class="block mb-2">Assigned To</label>
                {{ form.assigned_to }}
                {{ form.assigned_to.errors }}
            </div>

            <div class="mb-4">
                <label class="block mb-2">Status</label>
                {{ form.status }}
                {{ form.status.errors }}
            </div>

            <div class="mb-4">
                <label class="block mb-2">Priority</label>
                {{ form.priority }}
                {{ form.priority.errors }}
            </div>

            <div class="mb-6">
                <label class="block mb-2">Deadline</label>
                {{ form.deadline }}
                {{ form.deadline.errors }}
            </div>

            <button type="submit"
                    class="bg-cyan-600 px-5 py-2 rounded-lg border border-cyan-400 shadow-md hover:bg-cyan-700 transition">
                Save Task
            </button>

        </form>

    </div>

</div>

{% endblock content %}