{% extends "index.html" %}

{% block title %}
Profile
{% endblock title %}

{% block content %}

<div class="max-w-4xl mx-auto mt-10">

    <div class="bg-slate-900 rounded-2xl shadow-xl p-8 text-white">

        <div class="flex items-center gap-8">

            {% if request.user.profile_image %}
                <div class="h-32 w-32 rounded-full bg-slate-800 border-4 border-cyan-400 overflow-hidden flex items-center justify-center">
                    <img
                        src="{{ request.user.profile_image.url }}"
                        alt="Profile"
                        class="h-full w-full object-contain"
                    >
                </div>
            {% else %}
                <div class="h-32 w-32 rounded-full bg-cyan-600 flex items-center justify-center text-4xl font-bold">
                    {{ request.user.username|first|upper }}
                </div>
            {% endif %}

            <div>
                <h1 class="text-4xl font-bold">
                    {{ request.user.username }}
                </h1>

                <p class="text-cyan-300 mt-2">
                    {{ request.user.get_role_display }}
                </p>
            </div>

        </div>

        <hr class="my-8 border-slate-700">

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

            <div>
                <h3 class="text-cyan-400 font-semibold">Email</h3>
                <p>{{ request.user.email|default:"Not Added" }}</p>
            </div>

            <div>
                <h3 class="text-cyan-400 font-semibold">Phone Number</h3>
                <p>{{ request.user.phone_number|default:"Not Added" }}</p>
            </div>

            <div>
                <h3 class="text-cyan-400 font-semibold">Joined</h3>
                <p>{{ request.user.date_joined|date:"d M Y" }}</p>
            </div>

            <div>
                <h3 class="text-cyan-400 font-semibold">Account Status</h3>
                <p>Active User</p>
            </div>

        </div>

    </div>

</div>

{% endblock content %}